          #login {
              .col-lg-4 {
                  padding: 0;
                  @media only screen and (max-width: 992px) {
                      display: none !important;
                  }
                  .content {
                      background-image: url(../assets/bg-login.jpg);
                      background-position: center center;
                      background-size: cover;
                      padding: 96px 48px;
                      width: 100%;
                      .content-box {
                          img {
                              margin-bottom: 24px;
                          }
                          h4 {
                              font-size: 24;
                              margin-bottom: 8px;
                              font-weight: 700;
                          }
                          p {
                              font-size: 16px;
                              margin-bottom: 16px;
                          }
                          .btn-success {
                              color: #fff;
                              background-color: #2dce89 !important;
                              border-color: #2dce89 !important;
                              text-transform: uppercase !important;
                              box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
                              font-weight: 600;
                              font-size: 14px;
                              padding: 10px 20px;
                              transition: .3s;
                              &:hover {
                                  transform: translateY(-2px);
                              }
                          }
                      }
                  }
              }
              .col-lg-8 {
                  padding-left: 0;
                  .sign-content {
                      margin-top: 96px;
                      margin-bottom: 96px;
                      .intro {
                          margin-bottom: 24px;
                          h2 {
                              font-weight: 700;
                              color: $head-color;
                              font-size: 32px;
                              margin-bottom: 8px;
                          }
                          p {
                              font-size: 16px;
                              margin-bottom: 16px;
                              color: $for-muter;
                          }
                      }
                      .card {
                          .card-header {
                              padding: 20px 24px 28px;
                              border-bottom: none;
                              .text-muted {
                                  h6 {
                                      font-size: 16px;
                                      margin-bottom: 8px;
                                      color: $head-color;
                                      font-weight: 700;
                                  }
                              }
                              .btn-wrapper {
                                  .btn {
                                      display: inline-block;
                                      font-weight: 600;
                                      text-align: center;
                                      position: relative;
                                      padding: 10px 20px;
                                      text-transform: uppercase;
                                      transition: all .15s ease;
                                      will-change: transform;
                                      letter-spacing: .4px;
                                      font-size: 14px;
                                      background-color: #fff;
                                      border-color: #fff;
                                      box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
                                      &:first-child {
                                          margin-right: 8px;
                                      }
                                      span {
                                          margin-left: 10.5px;
                                          color: $btn-color;
                                      }
                                  }
                              }
                          }
                          .card-body {
                              padding: 48px;
                              background-color: #f4f5f7 !important;
                              border-top: none;
                              h6 {
                                  font-size: 16px;
                                  margin-bottom: 8px;
                                  color: $head-color;
                                  font-weight: 700;
                              }
                              form {
                                  .input-group-text {
                                      background-color: #fff;
                                      border-right: none;
                                      .fa-envelope {
                                          color: $mute-color;
                                      }
                                      .fa-unlock-alt {
                                          color: $mute-color;
                                      }
                                  }
                                  input[type="email"] {
                                      border-left: none;
                                      padding: 10px 12px 10px 0;
                                      border-top-left-radius: 0;
                                      border-bottom-left-radius: 0;
                                      &::placeholder {
                                          color: $mute-color;
                                          font-size: 14px;
                                      }
                                  }
                                  input[type="password"] {
                                      border-left: none;
                                      padding: 10px 12px 10px 0;
                                      border-top-left-radius: 0;
                                      border-bottom-left-radius: 0;
                                      &::placeholder {
                                          color: $mute-color;
                                          font-size: 14px;
                                      }
                                  }
                                  .custom-control {
                                      label {
                                          span {
                                              font-size: 14px;
                                              color: $mute-color;
                                          }
                                      }
                                  }
                                  .btn {
                                      margin-top: 24px;
                                      background-color: $btn-color;
                                      color: white;
                                      padding: 10px 20px;
                                      font-size: 14px;
                                      text-transform: uppercase;
                                      transition: .15s ease;
                                      box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
                                      font-weight: 600;
                                      text-align: center;
                                      &:hover {
                                          transform: translateY(-2px);
                                      }
                                  }
                              }
                          }
                      }
                  }
              }
          }