$nav-bg-color: rgba(48, 32, 87, .7);
$nav-item-hover:rgba(255, 255, 255, .65);
$dropdown-col: #444;
$dropdown-hover: #525f7f;
$btn-color:#5e72e4;
$head-color:#32325d;
$overlay: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
$mute-color:#8898aa;
$sec-btn:#2dce89;
$for-muter:#525f7f;
$badge-color:#2643e9;
$badge-bg:rgba(203, 210, 246, .5);